<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Interactivo</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/map_creator.css">
</head>
<body>
    <div class="container">
        <!-- Panel de selección de bloques -->
        <div class="controls">
            <h3>Tipos de Bloques</h3>
            <button id="floor-btn" data-block="floor">Suelo</button>
            <button id="wall-btn" data-block="wall">Pared</button>
            <button id="start-btn" data-block="start">Inicio</button>
            <button id="end-btn" data-block="end">Fin</button>
        </div>

        <!-- Grilla interactiva -->
        <div class="grid-container" id="grid-container">
            <label for="size" id="text">Tamaño del mapa:</label>
            <input type="number" id="size" value="5" min="1" max="13">
            <button id="generate">Generar Mapa</button>
            <button id="export">Exportar Mapa</button>
        </div>
    </div>

    <!-- Script al final para asegurar que todo el DOM esté cargado -->
    <script src="/static/creador.js"></script>
    
</body>
</html>
