Flask==3.0.3
Flask_Migrate==4.0.7
Flask_SocketIO==5.3.7
flask_sqlalchemy==3.1.1
gymnasium==0.29.1
# numpy<2.0.0 # Bajar de version de numpy si se quiere ver los logs de tensorboard
# tensorflow # Instalar TensorFlow si se quiere ver los logs de tensorboard
numpy==2.1.1
SQLAlchemy==2.0.34
stable-baselines3
tqdm
rich
bcrypt==4.2.0
