* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
    background: url(/static/img/login_background.png) center center / cover no-repeat;
    backdrop-filter: blur(15px);
    font-family: 'Jaro', sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .main-title {
    font-size: 4rem;
    background: linear-gradient(to bottom, #ffff00, #ffff4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-family: 'Press Start 2P';
    margin-bottom: 20px;
    -webkit-text-stroke: 2px black;
    text-shadow: 
        0 0 10px rgb(255, 252, 47),
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgba(255, 255, 0, 0.4);
}
  
  .card {
    position: relative;
    width: 450px;
    padding: 40px 30px;
    background: rgba(9, 69, 73, 0.548);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
  }  
  
  .titulo h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    word-spacing: -12px;
  }
  
  .titulo h2 {
    font-size: 18px;
    margin-bottom: 30px;
    color: #e8efa7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .login-form {
    width: 100%;
  }
  
  .login-form div {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .login-form label {
    font-size: 10px;
    margin-bottom: 5px;
    display: block;
    font-family: 'Press Start 2P';
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    border: 3px solid #9cd59c;
    box-shadow: 0 0 5px #00FF00;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 16px;
  }
  
  .login-form input:focus {
    outline: none;
    box-shadow: 0 0 10px #ffffff80;
  }

  .register-link {
    margin-top: 20px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .register-link a {
    color: #e8efa7;
    font-weight: bold;
  }
  
  .loader {
    height: 100%;
    display: flex;
    position: absolute;
    transform: rotate(90deg);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: 0;
  }
  
  .loader span {
    width: 50px;
    margin: 0 10px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #99ff00, #00ffd5, #002bff, #7a00ff, #ff00f3);
    background-size: 400% 400%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
    animation: loading 8s linear infinite, colorChange 3s ease-in-out infinite;
  }
  
  @keyframes loading {
    0%, 100% {
        height: 75%;
    }
    25% {
        height: 50%;
    }
    50% {
        height: 25%;
    }
    70% {
        height: 90%;
    }
  }
  
  .loader span:nth-child(1) {
    animation-delay: .2s;
  }
  
  .loader span:nth-child(2) {
    animation-delay: .4s;
  }
  
  .loader span:nth-child(3) {
    animation-delay: .6s;
  }
  
  .loader span:nth-child(4) {
    animation-delay: .8s;
  }
  
  .loader span:nth-child(5) {
    animation-delay: 1s;
  }

.options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 30px;
}

.button {
    text-decoration: none;
    background: #eef196;
    box-shadow: 0 0 10px #f6ff00;
    width: 100%;
    padding: 12px;
    color: black;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Press Start 2P';
    box-shadow: 0 0 10px #ffffff;
    margin-bottom: 20px;
    backdrop-filter: blur(1px);
    transition: transform 0.3s ease;
}


.button:hover {
    transform: scale(1.1);
    background-color: rgb(239, 255, 22);
}

.github-button {
    position: fixed;
    bottom: 70px;
    left: 20px;
}

.button-github {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url('/static/img/git_logo.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.button-github:hover {
    transform: scale(1.1);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color:rgba(9, 69, 73, 0.75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
}

footer p {
    margin-right: auto;
    font-size: 24px;
}

  
