* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  position: relative;
  overflow: hidden;
  background: url(/static/img/fondoLogin.png) center center / cover no-repeat;
  backdrop-filter: blur(15px);
  font-family: 'Jaro', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-title {
  font-size: 4rem;
  background: linear-gradient(to bottom, #f6ff00, #f6ff00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-family: 'Press Start 2P';
  margin-bottom: 20px;
  text-shadow: 0 0 3px #f6ff00, 0 0 1px #f6ff00, 0 0 10px #ffffff;
}


.card {
  position: relative;
  width: 450px;
  padding: 40px 30px;
  background: rgba(9, 69, 73, 0.548);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1;
}

.titulo h1 {
  font-size: 32px;
  margin-bottom: 10px;
  font-family: 'Press Start 2P', cursive;
  word-spacing: -12px;
}

.titulo h2 {
  font-size: 18px;
  margin-bottom: 30px;
  color: #e8efa7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-form {
  width: 100%;
}

.login-form div {
  margin-bottom: 20px;
  text-align: left;
}

.login-form label {
  font-size: 10px;
  margin-bottom: 5px;
  display: block;
  font-family: 'Press Start 2P';
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 3px solid #eef196;
  box-shadow: 0 0 5px #f6ff00;
  border-radius: 5px;
  background: transparent;
  color: white;
  font-size: 16px;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 10px #ffffff80;
}

button[type="submit"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(1px);
  z-index: -1;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  color: black;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Press Start 2P';
  box-shadow: 0 0 10px #ffffff;
  margin-bottom: 20px;
  backdrop-filter: blur(1px); /* Efecto de desenfoque */
  transition: transform 0.3s ease;
}

button[type="submit"]:hover {
  transform: scale(1.05);
}

.register-link {
  margin-top: 20px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.register-link a {
  color: #e8efa7;
  font-weight: bold;
}

.loader {
  height: 100%;
  display: flex;
  position: absolute;
  transform: rotate(90deg);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  z-index: 0;
}

.loader span {
  width: 50px;
  margin: 0 10px;
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #99ff00, #00ffd5, #002bff, #7a00ff, #ff00f3);
  background-size: 400% 400%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
  animation: loading 8s linear infinite, colorChange 3s ease-in-out infinite;
}

@keyframes loading {
  0%, 100% {
      height: 75%;
  }
  25% {
      height: 50%;
  }
  50% {
      height: 25%;
  }
  70% {
      height: 90%;
  }
}

.loader span:nth-child(1) {
  animation-delay: .2s;
}

.loader span:nth-child(2) {
  animation-delay: .4s;
}

.loader span:nth-child(3) {
  animation-delay: .6s;
}

.loader span:nth-child(4) {
  animation-delay: .8s;
}

.loader span:nth-child(5) {
  animation-delay: 1s;
}

.avatar-selection {
  display: none;
  position: absolute;
  top: 50%;
  right: -250px;
  width: 300px;
  background-color: rgba(9, 69, 73, 0.75);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avatar-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.avatar-selection label {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid transparent;
  transition: border-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  padding: 5px;
}

.avatar-selection img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.avatar-selection input:checked + img {
  border: 5px solid #FFD700;
  transform: scale(1.1);
}

#select-avatar-btn {
    display: block;
    width: auto;
    margin: 0 auto;
    background-color: #FFD700;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Press Start 2P';
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.avatar-selection input[type="radio"] {
  display: none;
}

.avatar-selection label {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid transparent;
  transition: border-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  padding: 5px;
}

.avatar-selection input[type="radio"]:checked + img {
  border: 5px solid #FFD700;
  transform: scale(1.1);
  box-shadow: 0 0 10px #FFD700;
}

.avatar-selection {
  display: none;
  position: absolute;
  top: -30%;
  right: -400px;
  width: 300px;
  background-color: rgba(9, 69, 73, 0.75);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avatar-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.avatar-selection img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

#choose-avatar-btn {
  width: 250px;
  height: 35px;
  color: black;
  font-size: 10;
  font-family: 'Press Start 2P';
  background: #eef196;
  box-shadow: 0 0 10px #f6ff00;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 18px;
  text-align: justify center;
}
