/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: 'Handjet';
    font-size: 36px;
    background: url(/static/img/map_background.jpg) center center / cover no-repeat;
}

.container {
    position: relative;
    width: 40vw; /* 40% of the viewport width */
    height: 40vw; /* Use 40vw to keep height equal to width and maintain a square */
}

.grid {
    width: 40vw; /* 40% of the viewport width */
    aspect-ratio: 1; /* Maintains the square ratio */
    display: grid;
    gap: 2px;
    background-color: #000000;
}

.cell {
    width: 100%;  /* Takes 100% of the cell width */
    height: 100%; /* Takes 100% of the cell height */
}

.floor {
    background: url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.wall {
    background: url(/static/img/wall.jpg) center center / cover no-repeat;
    filter: brightness(0.5);
}

.start { 
    background: url(/static/img/door.png) center bottom / 60% no-repeat,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.end {
    background: url(/static/img/door.png) no-repeat center bottom / 60%,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.mine {
    background: url(/static/img/mine.png) no-repeat center bottom / 100%,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.agent {        
    background: url(/static/img/agent2.png) no-repeat center bottom / 80%,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.winner_agent {        
    background: url(/static/img/agent2.png) no-repeat center bottom / 55%,
                url(/static/img/exit.png) no-repeat center bottom / 60%,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.end2 {
    
}

.quick_buttons {
    display: flex;
}

.quick_buttons a {
    background-color: #768371b2;
    color: rgb(255, 255, 255);
    border: none;
    padding: 20px 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    width: 150px;
    text-align: center;
}

.btn {
    background-color: #76837157;
    color: rgb(255, 255, 255);
    font-family: 'Handjet', sans-serif;
    font-size: 30px;
    border: none;
    padding: 20px 30px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 120px;
    display: inline-block; /* Ensures that links and buttons behave similarly */
}

.btn:hover {
    background-color: #8fa683; /* Change color on hover */
}

.btn.active {
    background-color:  #f3ff8b;
    border: 2px solid #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark background with transparency */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1000; /* Ensure it is above other elements */
    backdrop-filter: blur(5px); /* Blur effect on the background */
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially invisible */
    transition: visibility 0s, opacity 0.5s linear; /* Add transition for smoothness */
}

.overlay.visible {
    visibility: visible; /* Show the overlay */
    opacity: 1; /* Make it visible */
}

#progressModal {
    display: none; /* Initially hidden */
    background: rgba(255, 255, 255, 0.8); /* White background with transparency */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#progressBarContainer {
    width: 80%; /* Adjust as needed */
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px auto; /* Center the progress bar */
}

#progressBar {
    width: 0;
    height: 20px;
    background-color: #4caf50; /* Green color for progress */
    text-align: center; /* Center text in the bar */
    line-height: 20px; /* Vertically align text */
    color: white; /* Text color */
    transition: width 0.5s; /* Smooth width change */
}