/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: 'Handjet';
    font-size: 36px;
    background: url(/static/img/fondoMap.jpg) center center / cover no-repeat;
}

.container {
    position: relative;
    width: 40vw; /* 40% del ancho del viewport */
    height: 40vw; /* Usar 40vw para que la altura sea igual al ancho y mantener un cuadrado */

}

.grid {
    width: 40vw; /* 40% del ancho del viewport */
    aspect-ratio: 1; /* Mantiene la proporción cuadrada */
    display: grid;
    gap: 2px ;
    background-color: #000000;
}

.cell {
    width: 100%;  /* Toma el 100% del ancho de la celda */
    height: 100%; /* Toma el 100% del alto de la celda */
}

.floor {
    background: url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.wall {
    background: url(/static/img/pared2.jpg) center center / cover no-repeat;
    filter: brightness(0.5);
}

.start { 
    background: url(/static/img/puerta.png) center bottom / 60% no-repeat,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.end {
    background: url(/static/img/puerta.png) no-repeat center bottom / 60%,
                url(/static/img/dirt.jpg) center center / cover no-repeat;

}

.mine {
    background: url(/static/img/mine.png) no-repeat center bottom / 100%,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.agent {        
    background: url(/static/img/agent2.png) no-repeat center bottom / 80%,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.winner_agent {        
    background: url(/static/img/agent2.png) no-repeat center bottom / 55%,
                url(/static/img/salida.png) no-repeat center bottom / 60%,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.end2 {
    
}
.quick_buttons{
    display: flex;
}

.quick_buttons a{
    background-color:#768371b2;
    color: rgb(255, 255, 255);
    border: none;
    padding: 20px 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    width: 150px;
    text-align: center;
}

.btn {
    background-color: #76837157;
    color: rgb(255, 255, 255);
    font-family: 'Handjet', sans-serif;
    font-size: 30px;
    border: none;
    padding: 20px 30px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 120px;
    display: inline-block; /* Asegura que los enlaces y botones se comporten de manera similar */
}

.btn:hover {
    background-color: #8fa683; /* Cambia el color al pasar el mouse */
}

.btn.active {
    background-color:  #f3ff8b;
    border: 2px solid #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
    backdrop-filter: blur(5px); /* Efecto de desenfoque en el fondo */
    visibility: hidden; /* Inicialmente oculto */
    opacity: 0; /* Inicialmente invisible */
    transition: visibility 0s, opacity 0.5s linear; /* Añadir transición para suavizar */
}

.overlay.visible {
    visibility: visible; /* Muestra el overlay */
    opacity: 1; /* Hacerlo visible */
}

#progressModal {
    display: none; /* Ocultado inicialmente */
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#progressBarContainer {
    width: 80%; /* Ajusta según sea necesario */
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px auto; /* Centrar la barra de progreso */
}

#progressBar {
    width: 0;
    height: 20px;
    background-color: #4caf50; /* Color verde para el progreso */
    text-align: center; /* Centrar el texto en la barra */
    line-height: 20px; /* Alinear el texto verticalmente */
    color: white; /* Color del texto */
    transition: width 0.5s; /* Suavizar el cambio de ancho */
}