/* Estilos globales */
body {
    display: flex;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: url(/static/img/fondoMap.jpg) center center / cover no-repeat;
    background-attachment: fixed; /* Fija el fondo para que no se mueva al hacer scroll */
    background-size: cover; /* Hace que el fondo siempre cubra toda la pantalla */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    min-height: 100vh; /* Asegura que el body ocupe toda la altura */
}

/* Contenedor principal que incluye el panel de control y la grilla */
.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    padding: 20px;
    width: 100%;
    margin: 0 auto; /* Asegura que el contenedor esté centrado */
}

/* Panel de control a la izquierda */
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    padding: 20px;
    font-family: 'Press Start 2P', sans-serif;
    border-radius: 5px;
    margin-left: 50px;
}

.controls2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    padding: 20px;
    font-family: 'Press Start 2P', sans-serif;
    border-radius: 5px;
    margin-left: 50px;
    font-size: large;
    gap: 5px;
}

.controls2 button {
    background-color:#768371;
    color: rgb(255, 255, 255);
    font-family: 'Handjet';
    font-size: 22px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.controls2 button.active {
    background-color:  #f3ff8b;
    border: 2px solid #fff;
}

.controls2 input {
    border: 2px solid transparent;
    width: 5em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #f3f3f3;
    border-radius: 10px;
    transition: all 0.5s;
    font-weight: 1000;
    text-align: center;
}

.controls2 input:hover,
.controls2 input:focus {
  border: 2px solid #f3ff8b;
  box-shadow: 0px 0px 0px 7px rgba(57, 112, 11, 0.2);
  background-color: white;
}
/* Botones del panel de control */
.controls button {
    background-color:#768371;
    color: rgb(255, 255, 255);
    font-family: 'Handjet';
    font-size: 32px;
    border: none;
    padding: 20px 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.controls button.active {
    background-color:  rgba(57, 112, 11, 0.2);
    border: 2px solid #fff;
}

/* Contenedor de la grilla */
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 50px); /* Columnas del mapa */
    grid-template-rows: repeat(10, 50px);    /* Filas del mapa */
    gap: 2px;
    justify-content: center; /* Centra la grilla horizontalmente */
    margin-left: 30px;
}

/* Celdas de la grilla */
.grid-container .cell {
    background-color: lightgray;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Opciones dentro de las celdas */
.grid .cell-options {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    top: 100%;
    left: 0;
    z-index: 10;
}

/* Opciones de selección de celdas */
.grid .cell-options div {
    width: 20px;
    height: 20px;
    margin: 2px;
    cursor: pointer;
    border: 1px solid black;
    background-size: cover;
}

/* Mostrar las opciones cuando una celda está seleccionada */
.grid .cell.selected .cell-options {
    display: block;
}

/* Tipos de bloques (suelo, pared, inicio, fin) */
.floor {
    background: url(/static/img/dirt.jpg) center center / cover;
}

.wall {
    background: url(/static/img/pared2.jpg) center center / cover;
    filter: brightness(0.6);
}

.start {
    background: url(/static/img/puerta.png) center bottom / 60% no-repeat,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.end {
    background: url(/static/img/puerta.png) no-repeat center bottom / 60%,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.mine {
    background: url(/static/img/mine.png) no-repeat center bottom / 100%,
                url(/static/img/dirt.jpg) center center / cover no-repeat;
}

.quick_buttons {
   display: flex;
   position: relative;
   right: 40%;
   text-decoration: none;
}
.quick_buttons .btn {
    background-color: #76837157;
    color: rgb(255, 255, 255);
    font-family: 'Handjet', sans-serif;
    font-size: 30px;
    border: none;
    padding: 20px 30px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 120px;
    display: inline-block;
}

a{
    display: flex; /* Usamos inline-flex para alinear el icono y el texto */
    align-items: center; /* Alinea verticalmente el contenido */
    background-color:#768371; /* Color de fondo */
    color: rgb(255, 255, 255); /* Color del texto */
    font-family: 'Handjet', sans-serif; /* Fuente */
    font-size: 30px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    margin: 10px; /* Margen */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cambia el cursor a mano */
    right: 40%;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #171717;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.modal-content p{
    display: flex; /* Usamos inline-flex para alinear el icono y el texto */
    align-items: center; /* Alinea verticalmente el contenido */
    background-color:#768371; /* Color de fondo */
    color:#f3f3f3; /* Color del texto */
    font-family: 'Handjet', sans-serif; /* Fuente */
    font-size: 30px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    margin: 10px; /* Margen */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cambia el cursor a mano */
    position: relative;
    justify-content: center;
}


.close {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}
