* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Jaro', sans-serif;
    position: relative;
    background: url(/static/img/fondoLogin.png) center center / cover no-repeat;
    backdrop-filter: blur(15px);
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: rgba(9, 69, 73, 0.75);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

.sidebar .logo h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    color: #e8efa7;
    margin-bottom: 30px;
}

.menu {
    list-style: none;
    width: 100%;
}

.menu-item {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: 'Press Start 2P';
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
    background-color: rgba(9, 69, 73, 0.85);
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.profile {
    flex-grow: 1;
    margin-left: 0px;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
}

.profile h2 {
    font-family: 'Press Start 2P';
    font-size: 32px;
    margin-bottom: 20px;
    color: #FFD700;
    text-shadow: 0 0 10px #FFD700,
    3px 3px 0 #000, 
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000;
}

.profile img {
    border-radius: 50%;
    border: 3px solid #FFD700;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.profile img:hover {
    transform: scale(1.1);
}

.profile p {
    font-size: 18px;
    margin-bottom: 20px;
}

.avatar-options {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.avatar-options label {
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: border-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    padding: 5px;
}

.avatar-options img {
    border-radius: 50%;
    transition: transform 0.3s ease, border-color 0.3s ease;
    width: 100px;
    height: 100px;
}

.avatar-options input:checked + img {
    border: 5px solid #FFD700;
    transform: scale(1.1);
    box-shadow: 0 0 15px #FFD700;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.show-avatar-options {
    background-color: #FFD700;
    border: none;
    padding: 10px 20px;
    color: #000;
    font-family: 'Press Start 2P';
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.show-avatar-options:hover {
    background-color: rgba(255, 254, 204, 0.85);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(9, 69, 73, 0.75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 250px);
}

footer p {
    margin-right: auto;
    font-size: 20px;
}

.buttonavatar {
    width: auto;
    padding: 12px 24px;
    background: rgba(75, 188, 154, 0.8);
    color: black;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Press Start 2P';
    background:  #FFD700;
    backdrop-filter: blur(1px);
    transition: transform 0.3s ease;
    border: none;
    border-radius: 10px;
    display: none;
}

.buttonavatar:hover {
    background-color: rgba(255, 254, 204, 0.85);
}

.avatar-options.show-button .buttonavatar {
    display: block;
}

.avatar-options input {
    display: none;
}

.profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
}