<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>{% block title %}DC-AI{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>

    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo">
                <h1>DC-AI</h1>
            </div>
            <ul class="menu">
                <li><a href="{{ url_for('routes.dashboard') }}" class="menu-item{% if request.path =="/dashboard" %} active{% endif %}">Dashboard</a></li>
                <li><a href="{{ url_for('routes.profile') }}" class="menu-item{% if request.path =="/profile" %} active{% endif %}">Profile</a></li>
                <li><a href="{{ url_for('routes.my_mazes') }}" class="menu-item{% if request.path =="/dungeons" %} active{% endif %}">My Dungeons</a></li>
                <li><a href="{{ url_for('routes.leaderboard') }}" class="menu-item{% if request.path == "/leaderboard" %} active{% endif %}">Leaderboard</a></li>
                <li><a href="{{ url_for('routes.settings') }}" class="menu-item{% if request.path =="/settings" %} active{% endif %}">Settings</a></li>
                <li><a href="{{ url_for('routes.logout') }}" class="menu-item">Logout</a></li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
<footer>
    <p>© 2024 Dungeons Crawler AI. All Rights Reserved.</p>
</footer>
</html>
