<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">   
    <title>{% block title %}DC-AI{% endblock %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>

    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo">
                <h1>DC-AI</h1>
            </div>
            <ul class="menu">
                <li><a href="{{ url_for('principal.dashboard') }}" class="menu-item{% if request.path == '/dashboard' %} active{% endif %}">{{ _('Dashboard') }}</a></li>
                <li><a href="{{ url_for('principal.profile') }}" class="menu-item{% if request.path == '/profile' %} active{% endif %}">{{ _('Profile') }}</a></li>
                <li><a href="{{ url_for('principal.my_mazes') }}" class="menu-item{% if request.path == '/dungeons' %} active{% endif %}">{{ _('My Dungeons') }}</a></li>
                <li><a href="{{ url_for('principal.community') }}" class="menu-item{% if request.path == '/community' %} active{% endif %}">{{ _('Community Maps') }}</a></li>
                <li><a href="{{ url_for('principal.leaderboard') }}" class="menu-item{% if request.path == '/leaderboard' %} active{% endif %}">{{ _('Leaderboard') }}</a></li>
                <li><a href="{{ url_for('principal.settings') }}" class="menu-item{% if request.path == '/settings' %} active{% endif %}">{{ _('Settings') }}</a></li>
                <li><a href="{{ url_for('auth.logout') }}" class="menu-item">{{ _('Logout') }}</a></li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

{% block scripts %}
{% endblock %}


</body>
<footer>
    <p>© 2024 Dungeons Crawler AI. {{ _('All Rights Reserved.') }}</p>
</footer>
</html>
