<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <title>DC-AI, Dashboard</title>
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo">
                <h1>DC-AI</h1>
            </div>
            <ul class="menu">
                <li><a href="/dashboard" class="menu-item active">Dashboard</a></li>
                <li><a href="/profile" class="menu-item">Profile</a></li>
                <li><a href="/dungeons" class="menu-item">My Dungeons</a></li>
                <li><a href="/leaderboard" class="menu-item">Leaderboard</a></li>
                <li><a href="/settings" class="menu-item">Settings</a></li>
                <li><a href="/logout" class="menu-item">Logout</a></li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <div class="actions">
                <div class="button-container">
                    <a href="/map_creator" class="button">
                        <div class="button-text">Start New Dungeon</div>
                    </a>
                </div>
                <div class="button-container">
                    <a href="/train-ai" class="button">
                        <div class="button-text">Choose Dungeon</div>
                    </a>
                </div>
            </div>
            <div class="signs">
                <div class="sign sign-left">
                    <img src="/static/img/cartelmadera.png" alt="Start New Dungeon Sign">
                    <p class="sign-text">Embark on a new adventure!</p>
                </div>
                <div class="sign sign-right">
                    <img src="/static/img/cartelmadera.png" alt="Choose Dungeon Sign">
                    <p class="sign-text">Train the AI ​with your own dungeons</p>
                </div>
            </div>
            <div class="stats">
                <div class="stat-card">
                    <h3>AI Level</h3>
                    <p>0</p>
                </div>
                <div class="stat-card">
                    <h3>Completed Dungeons</h3>
                    <p>0</p>
                </div>
                <div class="stat-card">
                    <h3>Points</h3>
                    <p>0</p>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <p>© 2024 Dungeons Crawler AI. All Rights Reserved.</p>
</footer>
</html>