{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
            <div class="actions">
                <div class="button-container">
                    <a href="/map_creator" class="button">
                        <div class="button-text">Start New Dungeon</div>
                    </a>
                </div>
                <div class="button-container">
                    <a href="/train-ai" class="button">
                        <div class="button-text">Choose Dungeon</div>
                    </a>
                </div>
            </div>
            <div class="signs">
                <div class="sign sign-left">
                    <img src="/static/img/cartelmadera.png" alt="Start New Dungeon Sign">
                    <p class="sign-text">Embark on a new adventure!</p>
                </div>
                <div class="sign sign-right">
                    <img src="/static/img/cartelmadera.png" alt="Choose Dungeon Sign">
                    <p class="sign-text">Train the AI with your own dungeons</p>
                </div>
            </div>
            <div class="stats">
                <div class="stat-card">
                    <h3>AI Level</h3>
                    <p>0</p>
                </div>
                <div class="stat-card">
                    <h3>Completed Dungeons</h3>
                    <p>0</p>
                </div>
                <div class="stat-card">
                    <h3>Points</h3>
                    <p>0</p>
                </div>
            </div>
{% endblock %}
