<!DOCTYPE html>
<html lang="{{ get_locale() }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <title>{{ _('DC-AI, Home') }}</title>
  </head>
  <body>
    <div class="container">
        <div class="main-title">
          <div>Dungeons</div>
          <div>Crawler</div>
          <div>AI</div>
        </div>
        <div class="card home-card">
            <div class="titulo">
                <h1><strong>{{ _('Welcome to Dungeons Crawler AI') }}</strong></h1>
                <h2><strong>{{ _('Your AI-powered adventure begins here') }}</strong></h2>
                <div class="options">
                    <div class="options">
                        <a href="/login" class="button">{{ _('Login') }}</a>
                        <a href="/register" class="button">{{ _('Register') }}</a>
                    </div>                    
                </div>
                <div class="info-section">
                    <p>{{ _('Embark on an adventure where artificial intelligence drives the journey. Train, explore, and battle through dungeons!') }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="github-button">
        <a href="https://github.com/NikyRosatti/Dungeon-Crawler-AI.git" class="button-github" target="_blank"></a>
    </div>    
  </body>
  <footer>
    <p>{{ _('© 2024 Dungeons Crawler AI. All Rights Reserved.') }}</p>
  </footer>
</html>
