{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
    <div class="main-content">
        <h2>Leaderboard</h2>
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Completed Dungeons</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td> 
                    <td>{{ user.username }}</td>
                    <td>{{ user.completed_dungeons or 0 }}</td> 
                </tr>
                {% endfor %}
            </tbody>    
        </table>
    </div>
{% endblock content %}
