{% extends 'base.html' %}

{% block title %}{{ _('Leaderboard') }}{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
{% endblock %}

{% block content %}
    <div class="main-content">
        <h2>Leaderboard</h2>
        
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>{{ _('Rank') }}</th>
                    <th>
                        <a href="{{ url_for('principal.leaderboard', sort_by='username', order='asc' if request.args.get('order') == 'desc' else 'desc') }}">
                            {{ _('Username') }}
                            {% if request.args.get('sort_by') == 'username' %}
                                <i class="fa-solid fa-chevron-{{ 'down' if request.args.get('order') == 'asc' else 'up' }}"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('principal.leaderboard', sort_by='completed_dungeons', order='asc' if request.args.get('order') == 'desc' else 'desc') }}">
                            {{ _('Completed Dungeons') }}
                            {% if request.args.get('sort_by') == 'completed_dungeons' %}
                                <i class="fa-solid fa-chevron-{{ 'down' if request.args.get('order') == 'asc' else 'up' }}"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('principal.leaderboard', sort_by='max_size', order='asc' if request.args.get('order') == 'desc' else 'desc') }}">
                            {{ _('Largest Dungeon Completed') }}
                            {% if request.args.get('sort_by') == 'max_size' %}
                                <i class="fa-solid fa-chevron-{{ 'down' if request.args.get('order') == 'asc' else 'up' }}"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('principal.leaderboard', sort_by='points', order='asc' if request.args.get('order') == 'desc' else 'desc') }}">
                            {{ _('Points') }}
                            {% if request.args.get('sort_by') == 'points' %}
                                <i class="fa-solid fa-chevron-{{ 'down' if request.args.get('order') == 'asc' else 'up' }}"></i>
                            {% endif %}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td> 
                    <td>{{ user.username }}</td>
                    <td>{{ user.completed_dungeons }}</td> 
                    <td>{{ user.max_size }}</td> 
                    <td>{{ user.points}}</td> 
                    
                </tr>
                {% endfor %}
            </tbody>    
        </table>
    </div>
{% endblock content %}
