<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <title>{{ _('DC-AI, Register') }}</title>
</head>
<body>
    <div class="container">
        <div class="main-title">
            <div> Dungeons </div>
            <div> Crawler </div>
            <div> AI </div>
        </div>
        <div class="card">
            <div class="titulo">
                <h1><strong>{{ _('Create Account') }}</strong></h1>
                {% if error %}
                  <div class="error-message">
                    <p>{{ error }}</p>
                  </div>
                {% endif %}
                <form action="/register" method="post" class="login-form" id="register-form">
                    <div>
                        <label for="username">{{ _('Username:') }}</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div>
                        <label for="email">{{ _('Email:') }}</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div>
                        <label for="password">{{ _('Password:') }}</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="button" id="choose-avatar-btn">{{ _('Choose Avatar') }}</button>
                    <div class="avatar-selection" id="avatar-selection" style="display: none;">
                        <div class="avatar-grid">
                            {% for avatar in avatars %}
                            <label>
                                <input type="radio" name="avatar" value="{{ avatar }}">
                                <img src="{{ avatar }}" alt="Avatar" class="avatar-img">
                            </label>
                            {% endfor %}
                        </div>
                        <button type="button" id="select-avatar-btn">{{ _('Select') }}</button>
                    </div>   
                    <div id="avatar-error" class="error-message" style="display: none;">
                        {{ _('Please, choose an avatar before registering.') }}
                    </div>                 
                    <button type="submit">{{ _('Register') }}</button>
                </form>
                <div class="register-link">
                    <p>{{ _('Already have an account?') }}</p>
                    <a href="/login">{{ _('Log in') }}</a>
                </div>
            </div>
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const chooseAvatarBtn = document.getElementById('choose-avatar-btn');
        const avatarSelection = document.getElementById('avatar-selection');
        const selectAvatarBtn = document.getElementById('select-avatar-btn');
        const registerForm = document.getElementById('register-form');
        const avatarError = document.getElementById('avatar-error');

        chooseAvatarBtn.addEventListener('click', function() {
            avatarSelection.style.display = avatarSelection.style.display === 'none' ? 'block' : 'none';
        });

        selectAvatarBtn.addEventListener('click', function() {
            avatarSelection.style.display = 'none';
        });

        registerForm.addEventListener('submit', function(event) {
            const selectedAvatar = document.querySelector('input[name="avatar"]:checked');
            if (!selectedAvatar) {
                event.preventDefault();
                avatarError.style.display = 'block';
            } else {
                avatarError.style.display = 'none';
            }
        });
    });
    document.getElementById('password').addEventListener('input', function() {
        var password = this.value;
        var warning = document.getElementById('password-warning');

        if (password.length < 8) {
            this.classList.add('invalid');  // Add red border
        } else {
            this.classList.remove('invalid');  // Remove red border
        }
    });
    </script>
</body>
</html>
